{% extends "base.html" %}
{% block content %}
<div class="container my-5 text-center">
    <div class="card shadow-sm border-0 p-5 mx-auto" style="max-width: 500px; border-radius: 20px;">
        <h3 class="fw-bold text-success">E-posta Gönderildi!</h3>
        <p class="mt-3">Şifre sıfırlama talimatlarını e-posta adresinize gönderdik. Lütfen kutunuzu kontrol edin.</p>
        <a href="{% url 'index' %}" class="btn btn-primary mt-3 w-100 rounded-pill">Anasayfaya Dön</a>
    </div>
</div>
{% endblock %}