/* Varsayılan Bootstrap borderlarını temizle */
.nav-tabs {
  border-bottom: 2px solid #dee2e6 !important;
  position: relative;
}

.nav-tabs .nav-link {
  border: none !important;
  color: #6c757d;
  transition: color 0.3s ease;
  background-color: transparent !important;
}

/* Aktif olan sekmenin yazı rengi */
.nav-tabs .nav-link.active {
  color: #243474 !important;
}

/* Mavi çizgiyi hareket ettiren kısım */
.nav-tabs .nav-item {
  position: relative;
}

.nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Alt çizgiyle birleşmesi için */
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #243474; /* Görseldeki koyu mavi */
  transition: all 0.3s ease;
}
