 {% load static %}
 <footer class="text-light mt-5 p-5" style="background-color: #000000">
          <div class="container">
            <div class="row">
              <div class="col-md-4 mb-4">
                <h5 class="fw-bold mb-4 text-danger">Online Shop</h5>
                <p class="text-secondary" style="font-size: 0.9rem">
                  En yeni teknoloji ürünlerini en uygun fiyatlarla kapınıza
                  getiriyoruz. Müşteri memnuniyeti bizim önceliğimizdir.
                </p>
                <div class="d-flex gap-3 mt-3">
                  <a href="#" class="text-light"
                    ><i class="fa-brands fa-facebook fa-lg"></i
                  ></a>
                  <a href="#" class="text-light"
                    ><i class="fa-brands fa-instagram fa-lg"></i
                  ></a>
                  <a href="#" class="text-light"
                    ><i class="fa-brands fa-x-twitter fa-lg"></i
                  ></a>
                </div>
              </div>

              <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold mb-4">Kurumsal</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none"
                      >Hakkımızda</a
                    >
                  </li>
                  <li class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none"
                      >Kampanyalar</a
                    >
                  </li>
                  <li class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none"
                      >İletişim</a
                    >
                  </li>
                </ul>
              </div>

              <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold mb-4">Yardım</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none"
                      >Sipariş Takibi</a
                    >
                  </li>
                  <li class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none"
                      >İade Koşulları</a
                    >
                  </li>
                  <li class="mb-2">
                    <a href="#" class="text-secondary text-decoration-none"
                      >S.S.S</a
                    >
                  </li>
                </ul>
              </div>

              <div class="col-md-4 mb-4">
                <h6 class="fw-bold mb-4">Fırsatları Kaçırma</h6>
                <div class="input-group">
                  <input
                    type="email"
                    class="form-control bg-dark border-secondary text-light"
                    placeholder="E-posta adresiniz"
                  />
                  <button class="btn btn-primary" type="button">
                    Abone Ol
                  </button>
                </div>
              </div>
            </div>

            <hr class="border-secondary mt-4" />
            <div class="row">
              <div
                class="col text-center text-secondary mt-2"
                style="font-size: 0.85rem"
              >
                © Online Shop • Tüm hakları saklıdır.
              </div>
            </div>
          </div>
        </footer>