{% load static %}
<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.avif' %}" class="img-fluid" width="100" height="100" alt="logo" />
            </a>
<form action="{% url 'search' %}" method="GET" class="flex-grow-1 mx-5">
    <div class="input-group">
        <input type="text" name="q" class="form-control rounded-pill-start border-end-0 ps-4" 
               placeholder="Aramak istediğiniz ürünü yazın" style="border-radius: 50px 0 0 50px" />
        <button type="submit" class="input-group-text bg-white border-start-0" style="border-radius: 0 50px 50px 0;">
            <i class="fa-solid fa-magnifying-glass text-secondary pe-3"></i>
        </button>
    </div>
</form>

            <div class="d-flex gap-4 align-items-center">
             <div class="dropdown">
    <button class="btn btn-light rounded-pill px-4 py-2 shadow-sm dropdown-toggle d-flex align-items-center border-0" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #f8f9fa">
        <i class="fa-regular fa-user me-2 fs-5"></i>
        <span class="fw-bold">
            {% if user.is_authenticated %}
                {{ user.first_name|default:user.username }}
            {% else %}
                Giriş Yap
            {% endif %}
        </span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end border-0 shadow mt-3 p-2" 
    style="border-radius: 15px; min-width: 180px; z-index: 9999 !important; position: absolute;">
    {% if user.is_authenticated %}
        <li><a class="dropdown-item fw-bold py-2 rounded-3" href="{% url 'profile' %}">Profilim</a></li>
        <li><a class="dropdown-item fw-bold py-2 rounded-3" href="{% url 'orders' %}">Siparişlerim</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item fw-bold py-2 rounded-3 text-danger" href="{% url 'logout' %}">Çıkış Yap</a></li>
    {% else %}
        <li><a class="dropdown-item fw-bold py-2 rounded-3" href="{% url 'user_account' %}">Giriş Yap</a></li>
        <li><a class="dropdown-item fw-bold py-2 rounded-3" href="{% url 'user_account' %}">Üye Ol</a></li>
    {% endif %}
</ul>
</div>

                <div class="position-relative">
                   <span class="position-absolute top-50 start-0 translate-middle badge rounded-circle bg-white text-dark border shadow-sm" 
      style="width: 28px; height: 28px; line-height: 20px; z-index: 5; margin-left: -5px;">
                    {{ cart_total_quantity|default:0 }}
</span>
                   <a href="{% url 'cart' %}" class="btn btn-light rounded-pill px-4 py-2 shadow-sm d-flex align-items-center border-0" style="background-color: #f8f9fa">
    <i class="fa-solid fa-cart-shopping me-2 fs-5 ms-2"></i>
    <span class="fw-bold">Sepetim</span>
</a>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for cat in categories %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="{% url 'category_list' cat.slug %}">{{ cat.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>